<form action="/search" method="get" class="input-group search-bar search-bar--page" role="search">
  <input id="animate-search" type="search" name="q" value="" placeholder="Search our store" class="input-group-field searchit-input-style" aria-label="Search our store" autocomplete="off">
  <span class="input-group-btn">
    <button type="submit" class="btn icon-fallback-text">
      <span class="icon icon-search" aria-hidden="true"></span>
      <span class="fallback-text">Search</span>
    </button>
  </span>
</form>