{% if current_variant.compare_at_price > current_variant.price %}
    <div class="circle" style="background-color: red; color: #fff; font-weight: bold"> {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}%</div>
{% endif %}
