<!-- /snippets/home-featured-products.liquid -->

<div class="ui grid three column page stackable">
{% for product in collections.featured.products %}
    <div class="column">
        {% include 'product-card' %}
    </div>
{% endfor %}

</div>
